.snakemake/
scripts/
logs/
data/
analysis/
staging/
results/
src/gxctmm/__pycache__
midway/
randi/
results/

# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
.python-version
results/sim/free/HE.noJK.AGGss.png
results/sim/free/REML.AGGss.png
results/sim/free3/HE.noJK.AGGss.png
results/sim/hom/HE.noJK.AGGss.png
results/yazar/age.png
results/yazar/L1e4/impute/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e4/impute/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e4/impute/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e4/impute/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.VW.png
results/yazar/L1e4/ind_min_cellnum~100_ct_min_cellnum~20_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e4/ind_min_cellnum~100_ct_min_cellnum~20_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e4/ind_min_cellnum~100_ct_min_cellnum~20_prop~0.6_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e4/ind_min_cellnum~100_ct_min_cellnum~20_prop~0.6_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e4/ind_min_cellnum~100_ct_min_cellnum~20_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e4/ind_min_cellnum~100_ct_min_cellnum~20_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e4/ind_min_cellnum~100_ct_min_cellnum~50_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e4/ind_min_cellnum~100_ct_min_cellnum~50_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e4/ind_min_cellnum~100_ct_min_cellnum~50_prop~0.6_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e4/ind_min_cellnum~100_ct_min_cellnum~50_prop~0.6_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e4/ind_min_cellnum~100_ct_min_cellnum~50_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e4/ind_min_cellnum~100_ct_min_cellnum~50_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e4/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e4/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e4/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e4/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.VW.png
results/yazar/L1e4/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.nobatch.free.h2.png
results/yazar/L1e4/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.nobatch.free.W.png
results/yazar/L1e4/ind_min_cellnum~10_ct_min_cellnum~20_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e4/ind_min_cellnum~10_ct_min_cellnum~20_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e4/ind_min_cellnum~10_ct_min_cellnum~20_prop~0.6_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e4/ind_min_cellnum~10_ct_min_cellnum~20_prop~0.6_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e4/ind_min_cellnum~10_ct_min_cellnum~20_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e4/ind_min_cellnum~10_ct_min_cellnum~20_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e4/ind_min_cellnum~10_ct_min_cellnum~50_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e4/ind_min_cellnum~10_ct_min_cellnum~50_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e4/ind_min_cellnum~10_ct_min_cellnum~50_prop~0.6_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e4/ind_min_cellnum~10_ct_min_cellnum~50_prop~0.6_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e4/ind_min_cellnum~10_ct_min_cellnum~50_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e4/ind_min_cellnum~10_ct_min_cellnum~50_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.VW.png
results/yazar/L1e4/ind_min_cellnum~10_ct_min_cellnum~50_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.nobatch.free.h2.png
results/yazar/L1e4/ind_min_cellnum~10_ct_min_cellnum~50_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.nobatch.free.W.png
results/yazar/L1e4/ind_min_cellnum~500_ct_min_cellnum~100_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e4/ind_min_cellnum~500_ct_min_cellnum~100_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e4/ind_min_cellnum~500_ct_min_cellnum~100_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e4/ind_min_cellnum~500_ct_min_cellnum~100_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e6/ind_min_cellnum~100_ct_min_cellnum~20_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e6/ind_min_cellnum~100_ct_min_cellnum~20_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e6/ind_min_cellnum~100_ct_min_cellnum~20_prop~0.6_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e6/ind_min_cellnum~100_ct_min_cellnum~20_prop~0.6_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e6/ind_min_cellnum~100_ct_min_cellnum~20_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e6/ind_min_cellnum~100_ct_min_cellnum~20_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e6/ind_min_cellnum~100_ct_min_cellnum~50_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e6/ind_min_cellnum~100_ct_min_cellnum~50_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e6/ind_min_cellnum~100_ct_min_cellnum~50_prop~0.6_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e6/ind_min_cellnum~100_ct_min_cellnum~50_prop~0.6_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e6/ind_min_cellnum~100_ct_min_cellnum~50_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e6/ind_min_cellnum~100_ct_min_cellnum~50_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e6/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e6/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e6/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e6/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e6/ind_min_cellnum~10_ct_min_cellnum~20_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e6/ind_min_cellnum~10_ct_min_cellnum~20_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e6/ind_min_cellnum~10_ct_min_cellnum~20_prop~0.6_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e6/ind_min_cellnum~10_ct_min_cellnum~20_prop~0.6_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e6/ind_min_cellnum~10_ct_min_cellnum~20_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e6/ind_min_cellnum~10_ct_min_cellnum~20_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e6/ind_min_cellnum~10_ct_min_cellnum~50_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e6/ind_min_cellnum~10_ct_min_cellnum~50_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e6/ind_min_cellnum~10_ct_min_cellnum~50_prop~0.6_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e6/ind_min_cellnum~10_ct_min_cellnum~50_prop~0.6_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e6/ind_min_cellnum~10_ct_min_cellnum~50_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e6/ind_min_cellnum~10_ct_min_cellnum~50_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e6/ind_min_cellnum~500_ct_min_cellnum~100_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e6/ind_min_cellnum~500_ct_min_cellnum~100_prop~0.5_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/L1e6/ind_min_cellnum~500_ct_min_cellnum~100_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/L1e6/ind_min_cellnum~500_ct_min_cellnum~100_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/combine_cts/cc1/ind_min_cellnum~100_ct_min_cellnum~10_sex~Y_PC~6_experiment~R_disease~Y/down2reml.free.h2.png
results/yazar/combine_cts/cc1/ind_min_cellnum~100_ct_min_cellnum~10_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/combine_cts/cc1/ind_min_cellnum~100_ct_min_cellnum~10_sex~Y_PC~6_experiment~R_disease~Y/xbatch.he.free.h2.png
results/yazar/combine_cts/cc1/ind_min_cellnum~100_ct_min_cellnum~10_sex~Y_PC~6_experiment~R_disease~Y/gcta/ctp.greml.png
results/yazar/combine_cts/cc1/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/combine_cts/cc1/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/xbatch.he.free.h2.png
results/yazar/combine_cts/cc1/noctnu/ind_min_cellnum~100_ct_min_cellnum~10_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/combine_cts/cc2/ind_min_cellnum~100_ct_min_cellnum~10_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/combine_cts/cc2/ind_min_cellnum~100_ct_min_cellnum~10_sex~Y_PC~6_experiment~R_disease~Y/gcta/ctp.greml.png
results/yazar/combine_cts/cc2/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/combine_cts/cc2/noctnu/ind_min_cellnum~100_ct_min_cellnum~10_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/ind_min_cellnum~100_ct_min_cellnum~10_sex~Y_PC~6_experiment~R_disease~Y/ctp.dist.png
results/yazar/ind_min_cellnum~100_ct_min_cellnum~10_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/ind_min_cellnum~100_ct_min_cellnum~10_sex~Y_PC~6_experiment~R_disease~Y/he.full.cov.png
results/yazar/ind_min_cellnum~100_ct_min_cellnum~10_sex~Y_PC~6_experiment~R_disease~Y/he.full.h2.png
results/yazar/ind_min_cellnum~100_ct_min_cellnum~10_sex~Y_PC~6_experiment~R_disease~Y/gcta/ctp.greml.png
results/yazar/ind_min_cellnum~100_ct_min_cellnum~10_sex~Y_PC~6_experiment~R_disease~Y/gcta/op.greml.png
results/yazar/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/ctp.dist.png
results/yazar/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/r10000/he.free.h2.png
results/yazar/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/r10000/he.free.VW.png
results/yazar/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/r50000/he.free.h2.png
results/yazar/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/r50000/he.free.VW.png
results/yazar/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/trans/he.free.h2.png
results/yazar/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/trans/he.free.VW.png
results/yazar/ind_min_cellnum~500_ct_min_cellnum~100_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/nomissing/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.ctnu0.free.h2.png
results/yazar/nomissing/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.ctnu0.free.VW.png
results/yazar/nomissing/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/nomissing/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.tophomg.genes.txt
results/yazar/nomissing/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.topV.gene.png
results/yazar/nomissing/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.topV.genes.txt
results/yazar/nomissing/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/he.free.VW.png
results/yazar/nomissing/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/permute/hom/he.free.VW.png
results/yazar/nomissing/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/permute/nocis/he.free.VW.png
results/yazar/nomissing/ind_min_cellnum~10_ct_min_cellnum~10_prop~0.9_sex~Y_PC~6_experiment~R_disease~Y/permute/nocor/he.free.VW.png
results/yazar/pearson/cc1/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/pearson/cc1/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/pearson/cc2/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/pearson/cc2/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/he.free.W.png
results/yazar/qn/cc1/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/qn/cc2/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/raw/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/raw/ind_min_cellnum~500_ct_min_cellnum~100_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/subset_cts/B/ind_min_cellnum~100_ct_min_cellnum~10_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/subset_cts/CD4/ind_min_cellnum~100_ct_min_cellnum~10_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/subset_cts/CD4/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/subset_cts/CD8/ind_min_cellnum~100_ct_min_cellnum~10_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
results/yazar/subset_cts/CD8/ind_min_cellnum~100_ct_min_cellnum~50_sex~Y_PC~6_experiment~R_disease~Y/he.free.h2.png
staging
